body {
    background-color: #3b2c6b;
    color: rgb(96, 50, 83);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    margin: 0;
}

button {
    background-color: #9612a7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 100%;
}